.vl {
  display: flex;
  flex-direction: column;
}

.hl {
  display: flex;
  flex-direction: row;
}

.button {
  padding: 0.5em 0.75em;
  background-color: #3b8ada;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  &:not(:last-of-type) {
    margin-bottom: 5px;
  }
  &.secondary {
    background-color: #b9d7f5;
    color: #000;
  }
}


// Para dispositivos móviles

@media (max-device-width: 700px) {
  section.schedule-section {
    & .schedule-card {
      & .inputs {
        flex-wrap: wrap;
        & input {
          margin: 0 10px 5px 10px;
        }
      }
      & table {
        tr > td:first-child{
          display: none;
        }
        & div {
          font-size: 0.7rem;
          padding: 0;
        }
      }
    }
  }
}


// Estilo personalizado

.schedule-section {
  background: linear-gradient(140deg, #88f0f0 0%, #5ab3ce 100%);
  min-height: 100vh;
  width: min-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  & .schedule-card {
    @extend .vl;
    height: max-content;
    width: max-content;
    max-width: 700px;
    padding: 1rem;
    background-color: #fdfdfd;
    border-radius: 5px;
    box-shadow: 3px 3px 6px 3px #0002;
    h1, h2, p {
      text-align: center;
      select {
        border: none;
        background: none;
        font-size: inherit;
        font-weight: inherit;
      }
    }
    & .tittle-box {
      margin: 15px 0;
    }
    & .inputs {
      @extend .hl;
      margin: 2px;
      & input {
        width: 100%;
        text-align: center;
        border: 2px solid #dbdbdb;
        border-radius: 5px;
        &:not(:last-of-type) {
          margin-right: 8px;
        }
        &:invalid:not(:focus) {
          border-color: #ff453e;
        }
      }
    }
    & .courses-list {
      margin: 0.3rem 0 1.5rem 0;
    }
    & table {
      width: 100%;
      margin: 15px 0;
      text-align: center;
      table-layout: fixed;
      border-collapse: collapse;
      & tr > td:first-child {
        width: 10px;
      }
      & td {
        border: 1px solid #dbdbdb;
        height: 25px;
      }
      & div {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 2px 6px;
        height: 25px;
        &:not(:last-child) {
          margin-bottom: 2px;
        }
      }
      & div.assis {
        background-color: #99CC99;
      }
      & div.class {
        background-color: #FBC575;
      }
      & div.lab {
        background-color: #B3D4F5;
      }
      & div.workshop {
        background-color: #C7C2F8;
      }
      & div.field {
        background-color: #FFCCFF;
      }
      & div.practice {
        background-color: #CCCC99;
      }
      & div.tesis {
        background-color: #B2EFEF;
      }
      & div.other {
        background-color: #FF9999;
      }
    }
  }
}
