<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>UCalendar</title>
  <meta name="description" content="Obtiene el horario de los cursos y guardalos en tu calendario.">
  <meta name="og:description" content="Obtiene el horario de los cursos y guardalos en tu calendario.">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta property="og:title" content="UCalendar">
  <meta property="og:type" content="website">
  <style><%= CSS -%></style>
  <script><%= JS -%></script>
</head>
<body>
  <%= HTML_BODY -%>
</body>
</html>